# Files
.classpath
.project
.iml
.DS_Store
nb-configuration.xml
nb-*
jboss.xml
profiles.xml
.war
modules/testcases/**/security/test-configurations/securityRoles.war
modules/testcases/jdkAll/**/ejb/test2-configurations/output.txt
modules/testcases/jdkAll/**/ejb/test2-configurations/output2.txt


#dirs
target
remoteSrc
src/test/config
modules/testcases/**/src/
modules/testcases/jdk8/**/
modules/testcases/jdk17/**/
modules/testcases/jdkAll/**/
modules/testcases/jdk8/**/target
modules/testcases/jdk17/**/target
modules/testcases/jdkAll/**/target

.idea
.settings
