# Files
.classpath
.project
.iml
.DS_Store
nb-configuration.xml
nb-*
jboss.xml
profiles.xml
.war
modules/testcases/**/security/test-configurations/securityRoles.war
modules/testcases/jdkAll/**/ejb/test2-configurations/output.txt
modules/testcases/jdkAll/**/ejb/test2-configurations/output2.txt
modules/testcases/jdk8/**/
modules/testcases/jdkAll/**/


#dirs
target
remoteSrc
src/test/config
modules/testcases/**/src/

.idea
.settings
