<?xml version="1.0" encoding="UTF-8"?>
<module name="com.ibm.cicseci" xmlns="urn:jboss:module:1.9">

    <resources>
        <resource-root path="."/>
        <resource-root path="cicseci.jar"/>
    </resources>

    <dependencies>
        <module name="javax.api"/>
        <module name="javax.resource.api"/>
    </dependencies>
</module>

