<web-app>
    <login-config>
            <auth-method>BASIC</auth-method>
            <realm-name>WebSecurityBasic</realm-name>
    </login-config>
    <security-role>
        <description>The single application role</description>
        <role-name>Support</role-name>
    </security-role>
</web-app>
